<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head></head>

<body>
	<div th:fragment="nav">
		<nav class="navbar navbar-expand-lg fixed-top" style="border-radius: 5px; background: #f4f2f2;">
			<div class="container">
				<a class="navbar-brand" href="/asm"> <img src="/siteStatic/myImages/logo-nav.png" alt=""
						style="width: auto; height: 60px;">
				</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="nav" style="justify-content: right!important;">
						<li class="nav-item" th:if="${session.currentUser == null}"><a class="nav-link" href="login"> <i
									class="bi bi-box-arrow-in-right"></i>
								<b>Login</b>
							</a></li>
						<li class="nav-item" th:if="${session.currentUser == null}"><a class="nav-link" href="register">
								<span class="bi bi-person-plus"></span> <b>Register</b>
							</a></li>
						<li class="nav-item" th:if="${session.currentUser == null}"><a class="nav-link"
								href="forgotPass">
								<b>Forgot Password</b>
							</a></li>
						<li class="nav-item" th:if="${session.currentUser != null}">
							<a class="nav-link " href=""> <b
									th:text="'Welcome, ' + ${session.currentUser.fullname}"></b>
							</a>
						</li>
						<li class="nav-item" th:if="${session.currentUser != null && session.currentUser.isAdmin == true}">
							<a class="nav-link " href="/asm/admin/home"> <b
									>Admin Page</b>
							</a>
						</li>
						<li class="nav-item" th:if="${session.currentUser != null}"><a class="nav-link" href="/asm/cart">
								<i class="bi bi-heart"></i> <b>My Cart</b>
							</a>
						</li>
						<li class="nav-item" th:if="${session.currentUser != null}"><a class="nav-link" href="/asm/logout">
								<i class="bi bi-box-arrow-in-right"></i>
								<b>Logout</b>
							</a></li>
						<li class="nav-item dropdown" th:if="${session.currentUser != null}"><a
								class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false"> <i class="bi bi-person-fill"></i> <b> My
									Account</b></a>
							<ul class="dropdown-menu ">
								<li class="nav-item"><a class="nav-link" href="changePass">
										<span style="font-size:18px;">Change Password</span>
									</a></li>
								<li class="nav-item"><a class="nav-link" href="editProfile">
										<span style="font-size:18px;">Edit Profile</span>
									</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>

</html>