<nav class="navbar navbar-expand-lg fixed-top" style="border-radius: 5px; background: #f4f2f2;">
	<div class="container">
		<a class="navbar-brand" href=""> <img src="/siteStatic/myImages/logo-nav.png" alt="" style="width: auto; height: 60px;">
		</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="nav" style="justify-content: right!important;">
				<li class="nav-item"><a class="nav-link" href="login"> <i class="bi bi-box-arrow-in-right"></i>
						<b>Login</b>
					</a></li>
				<li class="nav-item"><a class="nav-link" href="register">
						<span class="bi bi-person-plus"></span> <b>Register</b>
					</a></li>
				<li class="nav-item"><a class="nav-link" href="forgotPass">
						<b>Forgot Password</b>
					</a></li>
			</ul>
		</div>

	</div>
</nav>