<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/sites/dashboardLayout.html}">

<head>
</head>

<body>
	<div class="container" layout:fragment="content">
		<article class="col">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title title-left">Cart</h4>
					<p class="card-text">Giỏ hàng của bạn</p>
				</div>
			</div>
			<br>
			<div class="row" th:if="${items == null}">
				<div class="col-sm-9">
					<div class="alert alert-success">Bạn chưa chọn sản phẩm</div>
				</div>
				<div class="col-sm-3">
					<div class="right">
						<div class="button5">
							<a href="/asm" class="btn">Continue shopping</a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Shopping Cart -->
			<div class="shopping-cart section" th:if="${items != null}">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<!-- Shopping Summery -->
							<table class="table shopping-summery">
								<tbody>
									<tr th:each="item : ${items}">
										<form th:action="@{/asm/cart/edit/{id}(id=${item.product.id})}" method="post">
											<td class="image" data-title="No"><img th:src="${'/img/'+ item.product.image}"
													alt="#"></td>
											<td class="product-des" data-title="Description">
												<p class="product-name"><a href="#" th:text="${item.product.name}"></a>
												</p>
												<p class="product-des">Maboriosam in a tonto nesciung eget distingy
													magndapibus.</p>
											</td>
											<td class="price" data-title="Price"><span
													th:text="${item.product.price}"></span></td>
											<td class="qty" data-title="Qty"><!-- Input Order -->
												<div class="input-group">
													<input type="number" name="qty" class="input-number" data-min="1"
														data-max="100" th:value="${item.quantily}"
														onchange="this.form.submit()">
												</div>
												<!--/ End Input Order -->
											</td>
											<td class="total-amount" data-title="Total"><span
													th:text="${item.price}"></span></td>
											<td class="action" data-title="Remove"><a
													th:href="@{delete/{c}(c=${item.id})}"><i
														class="ti-trash remove-icon"></i></a></td>
										</form>
									</tr>
									<tr></tr>
								</tbody>
							</table>
							<!--/ End Shopping Summery -->
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<!-- Total Amount -->
							<div class="total-amount">
								<div class="row">
									<div class="col-lg-8 col-md-5 col-12">
										<div class="left">
											<div class="coupon">
												<form action="#" target="_blank">
													<input name="Coupon" placeholder="Enter Your Coupon">
													<button class="btn">Apply</button>
												</form>
											</div>
											<div class="checkbox">
												<label class="checkbox-inline" for="2"><input name="news" id="2"
														type="checkbox"> Shipping (+10$)</label>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-7 col-12">
										<div class="right">
											<ul>
												<li>Cart Subtotal<span th:text="${'$'+totalPrice}"></span></li>
												<li>Shipping<span>Free</span></li>
												<li>You Save<span>$20.00</span></li>
												<li class="last">You Pay<span th:text="${'$'+(totalPrice-20)}"></span></li>
											</ul>
											<div class="button5">
												<a th:href="@{/asm/checkOut}" class="btn">Checkout</a>
												<a href="/asm" class="btn">Continue shopping</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--/ End Total Amount -->
						</div>
					</div>
				</div>
			</div>
			<!--/ End Shopping Cart -->
		</article>
	</div>
</body>

</html>