<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/sites/dashboardLayout.html}">

<head>
</head>

<body>
	<div class="container" layout:fragment="content">
		<article class="col">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title title-left">Make Your Checkout Here</h4>
					<p class="card-text">Vui lòng đăng ký để thanh toán nhanh hơn</p>
				</div>
			</div>
			<section class="shop checkout section">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-12">
							<br>
							<div class="checkout-form">
								<!-- Form -->
								<form class="form" method="post" action="#">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>First Name<span>*</span></label>
												<input type="text" name="name" placeholder="" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Last Name<span>*</span></label>
												<input type="text" name="name" placeholder="" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Email Address<span>*</span></label>
												<input type="email" name="email" placeholder="" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Phone Number<span>*</span></label>
												<input type="number" name="number" placeholder="" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Address<span>*</span></label>
												<input type="text" name="address" placeholder="" required="required">
											</div>
										</div>
									</div>
								</form>
								<!--/ End Form -->
							</div>
							<!-- Start Shop Services Area  -->
							<div class="shop-services section home">
								<div class="container">
									<div class="row">
										<div class="col-lg-3 col-md-6 col-12">
											<!-- Start Single Service -->
											<div class="single-service">
												<i class="ti-rocket"></i>
												<h4>Free shiping</h4>
												<p>Orders over $100</p>
											</div>
											<!-- End Single Service -->
										</div>
										<div class="col-lg-3 col-md-6 col-12">
											<!-- Start Single Service -->
											<div class="single-service">
												<i class="ti-reload"></i>
												<h4>Free Return</h4>
												<p>Within 30 days returns</p>
											</div>
											<!-- End Single Service -->
										</div>
										<div class="col-lg-3 col-md-6 col-12">
											<!-- Start Single Service -->
											<div class="single-service">
												<i class="ti-lock"></i>
												<h4>Sucure Payment</h4>
												<p>100% secure payment</p>
											</div>
											<!-- End Single Service -->
										</div>
										<div class="col-lg-3 col-md-6 col-12">
											<!-- Start Single Service -->
											<div class="single-service">
												<i class="ti-tag"></i>
												<h4>Best Peice</h4>
												<p>Guaranteed price</p>
											</div>
											<!-- End Single Service -->
										</div>
									</div>
								</div>
							</div>
							<!-- End Shop Services -->
						</div>
						<div class="col-lg-4 col-12">
							<div class="order-details">
								<!-- Order Widget -->
								<div class="single-widget">
									<h2>CART TOTALS</h2>
									<div class="content">
										<ul>
											<li>Sub Total<span>$330.00</span></li>
											<li>(+) Shipping<span>$10.00</span></li>
											<li class="last">Total<span>$340.00</span></li>
										</ul>
									</div>
								</div>
								<!--/ End Order Widget -->
								<!-- Order Widget -->
								<div class="single-widget">
									<h2>Payments</h2>
									<div class="content">
										<div class="checkbox">
											<label class="checkbox-inline" for="1"><input name="updates" id="1"
													type="checkbox"> Check Payments</label>
											<label class="checkbox-inline" for="2"><input name="news" id="2"
													type="checkbox"> Cash On Delivery</label>
											<label class="checkbox-inline" for="3"><input name="news" id="3"
													type="checkbox"> PayPal</label>
										</div>
									</div>
								</div>
								<!--/ End Order Widget -->
								<!-- Payment Method Widget -->
								<div class="single-widget payement">
									<div class="content">
										<img src="/siteStatic/images/payment-method.png" alt="#">
									</div>
								</div>
								<!--/ End Payment Method Widget -->
								<!-- Button Widget -->
								<div class="single-widget get-button">
									<div class="content">
										<div class="button">
											<a href="#" class="btn">proceed to checkout</a>
										</div>
									</div>
								</div>
								<!--/ End Button Widget -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Checkout -->
		</article>
	</div>
</body>

</html>