<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>FPT Shopping</title>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<div th:include="/common/head.html"></div>
</head>

<body>
	<div th:include="/common/nav.html"></div>
	<hr class="myHr">
	<div class="container">
		<article class="col">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title title-left">
						Wellcome To <b style="color: orangered;">FPT Shopping</b>
					</h4>
					<p class="card-text aa">Chuyên cung cấp các sản phẩm hợp thời trang</p>
				</div>
			</div>
			<br>
			<!-- Start Product Area -->
			<div class="product-area section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="product-info">
								<div class="nav-main">
									<!-- Tab Nav -->
									<ul class="nav nav-tabs" id="myTab">
										<li class="nav-item">
											<a class="nav-link "
											th:href="@{/asm/{p}(p = 1)}"
											role="tab" th:class="${p==1} ? 'active' : ''">All</a>
										</li>
										<li class="nav-item"  th:each="category,iterStat : ${categories}">
											<a class="nav-link"
											th:href="@{/asm/{p}(p = ${category.id})}"
											role="tab" th:text="${category.name}" th:class="${category.id == p} ? 'active' : ''"></a>
										</li>
									</ul>
									<!--/ End Tab Nav -->
								</div>
								<div class="tab-content" id="myTabContent">
									<!-- Start Single Tab -->
									<div class="tab-pane fade show active">
										<div class="tab-single">
											<div class="row">
												<div class="col-xl-3 col-lg-4 col-md-4 col-12" th:each="item : ${items}">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img"
																	src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750"
																	alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal"
																		title="Quick View" href="#"><i
																			class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i
																			class=" ti-heart "></i><span>Add to
																			Wishlist</span></a>
																	<a title="Compare" href="#"><i
																			class="ti-bar-chart-alt"></i><span>Add to
																			Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html" th:text="${item.name}"></a></h3>
															<div class="product-price">
																<span th:text="'$'+${item.price}"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Product Area -->
			<br>

		</article>
	</div>
	<br>
	<br>
	<div th:include="/common/footer.html"></div>
	<div th:include="/common/footerScript.html"></div>
</body>

</html>